.about-container {
  margin-top: 3.75em;
  background: #1E3D58;
  color: #E8EEF1;
  height: 600px;
  display: flex;
}

.about-info-container {
  flex: 1;
  padding: 1.25em;
  margin: 0 5em 5em 5em;
}

.about-picture {
  flex: 1;
  padding-left: 5em;
  text-align: center;
}

.pic {
  width: 550px;
  height: 550px;
}

.links-info {
  padding-top: 2.5em;
  text-align: center;
}

.about-icon {
  height: 43px;
  width: 43px;
  margin-left: 2em;
}

.about-icon {
  margin-left: 0;
}
