.footer-container {
  background: #232323;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.footer-creator h5 {
  text-align: center;
  margin-bottom: 0;
}