.skills-container {
  background: #057DCD;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-items {
  display: flex;
  justify-content: center;
}

.icon {
  height: 75px;
  width: 75px;
  padding: 5px;
  background: #E8EEF1;
  border-radius: 10px;
  border: 2px solid #1E3D58;
}